.center{
    display: flex;
    justify-content: center;
}
.slide{
    position: absolute;
    width: 100%;
}
.relative{
    position: relative;
}

h1{
    text-align: center;
    font-family: 'DM Serif Text', serif;
    color: #02A7F0;
}
p{
    font-family: 'Open Sans', sans-serif;
}
h2 {
    margin: 10px;
}

.p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    opacity: 1 !important;
}
.back{
    background-color: #6c6c6ca9;
    border-radius: 1em;
    padding: 1em;
    padding-bottom: 2em;
}
.border1{
    border-radius: 1.5em;
    border-color: #02A7F0;
    border-width: 0.3em;
    border-style: solid;
    margin-left: 15%;
    margin-right: 15%;
}
.o{
    background-color: rgb(247, 170, 70);
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.section2{
    margin-top: 5%;
}

.container2{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#un{
    background-color: #D7D7D7;
    padding-top: 15px;
    width: 250px;
    height: 130px;
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
}

#deux{
    background-color: #D7D7D7;
    padding-top: 15px;
    width: 250px;
    height: 130px;
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
}

#trois{
    background-color: #D7D7D7;
    padding-top: 15px;
    width: 250px;
    height: 130px;
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
}

.smallContainer{
    height: 150px;
}

.font{
    background-color: #02A7F0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    margin-bottom: -25px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    margin-top: 5em;
}
.image{
    height: 210px;
    width: 300px;
    margin-bottom: -5px;
}

h2{
    color: #F59A24;
    font-weight: bold;
    font-family: 'DM Serif Text', serif;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.captions{
    width: 300px;
    height: 130px;
    background-color: #FDEAD2;
    position: relative;
    animation-name: move;
    animation-duration: 4s;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
}

i{
    font-size: 2em;
    color: white;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;


}
.card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-family: 'DM Serif Text', serif;
    background-color: #F6F6F6;

}
.title{
    color: #02A7F0;
    font-size: 0.6cm;
}
.card{
    border: solid;
    border-color: #02A7F0;
}




.tete{
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 20%;

}

.bloc{
    padding:10px;
}

.bouton{
    justify-content: space-between;
    display: flex;
}

.formulaire{
    color: grey;
}

#img3{
    height: 350px ;
    width: 250px;
}
.contactez-nous{
    display: flex;
    justify-content: center;
}
.container3{
    background-color: #807e7e34;
    padding-top: 1px;
}
#titre-section{
    margin-top: 1em;
    color: yellow;
    text-align: center;
    text-decoration: underline solid 2px yellow;
}

.liste {
    list-style-type:none;
}

.newsletter {
    display: flex;
    color: white;

}
.icone{
    height: 30px;
    width: 30px;
}
.carte {
    height: 100px;
    width: 500px;
    border: 0;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #6c6c6c;
    justify-content: space-around;
    color: white;
    padding: 10px;
    align-items: center;
}
.div4 {
    display: flex;
    flex-direction: column;
}
button{
    margin: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #02A7F0;
    border-color: #02A7F0;
}
.btn-warning{
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}